<div style="margin-top: 130px;">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 " style="height: 800px;" >
            <h1 style="text-align: center">EVENTOS CREADOS</h1>
            <div style="height: 700px;" ng-if="events.length !== 0">
                <div class="cards">
                    
                        <div class="text-center" ng-repeat="event in events" >      
                            <div class="card" style="width: 200px; padding-bottom: 10px" href="#">
                                <span class="card-header"  ng-click="click(event)" style="background-image: url({{event.image}});" >
                                    <span class="card-title" >
                                        <h4 style="margin-left: 5px;">{{event.name}}</h3>
                                    </span>
                                </span>
                                <span class="card-summary" style=" margin-top: 10px; color: black;">
                                    <h6>{{event.date | date: 'dd-MM-yyyy'}}</h6>
                                </span>
                                <input type="submit" ng-click="removeEvent(event)" style="width: 70%;" class="btn btn-danger" value="Eliminar evento"/>
                                <input type="submit" ng-click="editEvent(event)" style="width: 70%;margin-top: 5px;" class="btn btn-warning" value="Editar evento"/>
                            </div>       
                                </div>  
                            </div>
                </div>

                <div class="text-center" ng-if="events.length === 0">
                    <h3>No has creado ningún evento</h3>
                </div>

    </div>
</div>