   
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="navbarCtrl" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/#!/app/home" style="color: white; font-size: 20px; text-shadow:-1px -1px 0 #1abc9c,1px -1px 0 #1abc9c,-1px 1px 0 #1abc9c,1px 1px 0 #1abc9c;  ">TechEvents</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#!/app/home">HOME</a></li>
        <li><a href="" class="dropdown-toggle" data-toggle="dropdown">ME</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="/#!/app/me/create">CREA UN EVENTO</a></li>
                <li class="dropdown-submenu"><a href=""  data-toggle="dropdown">MIS EVENTOS</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                      <li><a href="/#!/app/me/events/admin">CREADOS</a></li>
                      <li><a href="/#!/app/me/events/attendee">ASISTENTE</a></li>
                    </ul>
                </li>
          </ul>
        </li>
        <li><a href="/#!/app/events/all">EVENTOS</a></li>  
        <li><a href="/#!/app/account">CUENTA</a></li>
        <li style="cursor:pointer" ng-click="logout()"><a>LOGOUT</a></li>
      </ul>
    </div>
  </div>

